* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Fira Mono", monospace;
  display: flex;
  box-sizing: border-box;
  line-height: 1.8rem;
  font-size: 1.1rem;
}
button,
input {
  font-family: "Fira Mono", monospace;
}

.img-container {
  max-width: 600px;
  max-height: 100%;
}
img {
  padding: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  background-color: white;
  object-fit: cover;
  min-width: 300px;
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
  border-bottom: 1px dotted;
}
a:hover,
a:focus {
  border-bottom: 1px solid;
}
a:visited,
a:active {
  color: black;
}

#gallery {
  display: flex;
  margin-top: 40px;
}
#gallery img {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  min-width: 0;
  padding: 0.5%;
  margin-left: -10px;
  position: relative;
  cursor: pointer;
  transform: rotate(1deg);
  transition: transform 0.2s ease-in-out;
}
#gallery img:nth-of-type(2n) {
  transform: rotate(3deg);
}
#gallery img:nth-of-type(3n) {
  transform: rotate(-1deg);
}
#gallery img:hover,
#gallery img:focus {
  transform: translateY(-5px);
}

.splash-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
hr {
  width: 50px;
}

main {
  width: 100%;
  height: 100%;
  text-align: center;
}
main > * {
  margin-bottom: 20px;
}

section {
  width: calc(100% - 40px);
  height: calc(100vh - 40px);

  padding: 20px;
  margin: 20px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow-x: hidden;
  overflow-y: auto;
}

.split {
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 100%;
}
.split > * {
  margin: 20px;
  width: 50%;
}

#info > * {
  margin: 10px 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  max-height: 100%;
}
form > * {
  width: 100%;
}
#rsvp-form-submit {
  width: auto;
  align-self: center;
}

input[type="text"] {
  min-width: 320px;
}
input[type="number"] {
  width: 5rem;
}

dialog {
  position: fixed;
  left: 0;
  top: 0;
  border: 0;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
}
dialog #overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.75;
  z-index: -1;
  background-color: black;
}
dialog #close {
  position: absolute;
  right: 20px;
  top: 20px;
}
dialog img.hidden {
  display: none;
}
dialog p {
  background-color: white;
  padding: 40px;
}

html.dialog-open body {
  overflow: hidden;
}
html.dialog-open dialog {
  display: flex;
}

html.rsvp-success form {
  opacity: 0.7;
}

@media all and (max-width: 800px) {
  section {
    height: auto;
  }

  .split {
    flex-direction: column;
    align-items: center;
  }
  .split > * {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
